<div class="container text-center">
<% if !User.exists? %>
    <% Post.delete_all %>
<% end %>

<%= form_for @post do |f| %>
  <%= f.text_field :content, placeholder: "What's on your mind?", size: 60 %>
  &nbsp;
  <%= f.submit 'Post', class: 'btn btn-info' %>
<% end %>
</div>

<h2>Your Posts</h2><br>
    <% @posts.each do |post| %>
        <%= post.content %><br>
        <%= post.created_at.strftime("%B %d, %Y") %><br><br>
    <% end %>

